# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite
*.sqlite3

# Build artifacts
build/
dist/
*.spec

# PyInstaller
*.manifest
*.toc

# Logs
*.log